VITE_FIREBASE_API_KEY=replace-me
VITE_FIREBASE_AUTH_DOMAIN=replace-me.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://replace-me-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=replace-me
VITE_FIREBASE_APP_ID=replace-me